<%layout("layouts/boilerplate")%>
<h1>Login</h1>

<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required />
        <div class="valid-feedback">OK!</div>
        <div class="invalid-feedback">Please enter your username</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Password</label>
        <input class="form-control" type="password" id="password" name="password" required />
        <div class="valid-feedback">OK!</div>
        <div class="invalid-feedback">Please enter your password</div>
    </div>         

    <div class="mb-3">
        <button class="btn btn-success">Login</button>
    </div>
</form>